.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
*.md
phpunit.xml
vite.config.js
package.json
.editorconfig
.gitattributes
.gitignore
.npmrc
